<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div>
    <div>
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>