{% extends "base_page.html" %}

{% block content %}

    <a href="{% url 'base_page' %}">Назад к списку</a>

    <h1>{{ image.name }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="width">Ширина</label>
                    <input name="width" type="number" min="1">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="height">Высота</label>
                    <input name="height" type="number" min="1">
                </td>
            </tr>
        </table>
        <input type="submit" value="Отправить"/>
    </form>

    <table>
        {% for image_file in image.image_files.all %}
            <tr>
                <td>
                    <img src="{% url 'get_image_file' image.guid image_file.guid %}" alt="Изображение {{ image.name }}">
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
